header {
  max-width: 1000px;
  margin: 2px auto;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1140px;
  justify-content: space-between;
  margin: 5px auto;
  align-items: center;
  color: var(--font-light);
  background-image: linear-gradient(to right, var(--grad-1) , var(--grad-2), var(--grad-3));
  font-size: 14px;
}
.navbar ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 275px;
}

.name {
  margin: auto 40px; 
}

.profession {
  max-width: 900px;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 35px auto;
  justify-content: space-between;
  align-items: center;
}

.picture {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: black;
}

.languages {
  background-image: linear-gradient(to bottom left , var(--grad-1), var(--grad-2), var(--grad-3));
  width: 550px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  font-size: 22px;
  text-align: center;
}